

.Vinos{
    background: var(--negro);
    position: relative;
}

.contenedor-vinos{
    padding-bottom: 8rem;
    width: 80%;
    border-bottom: 2px solid var(--amarillo);
    margin-left: 10%;
}

.contenedor-vinos img{
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -40px;
}

.Vinos-izq{
    margin-top: 8rem;
    background: var(--gris);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.Vinos-izq h2{
    color: var(--amarillo);
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.Vinos-izq p{
    color: var(--blanco);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.Vinos-der{
    margin-top: 8rem;
    background-image: url(../../assets/vinos-chimichurri.jpg);
    background-size: cover;
    background-position: center;
}

/* responsive */


@media screen and (max-width: 768px) {

    .contenedor-vinos{
        padding-bottom: 8rem;
        width: 100%;
        border-bottom: 2px solid var(--amarillo);
        margin-left: 0%;
    }
    
    .Vinos-der{
        height: 300px;
        margin-top: 0;
    }
    
}
